.gitignore
.git
.github
LICENSE
README.md
TODO.md
Dockerfile
*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache
/locobss-text-similarity
tmp
questions.txt
legacy
ids.txt
temp.npy
pre-embed.npy
new_ids.txt
new_temp.npy